<main [formGroup]="form">
  <ion-list>

    <h6>URL</h6>
    <ion-item>
      <ion-label floating>Hostname</ion-label>
      <ion-input type="text" formGroupName="hostname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Path</ion-label>
      <ion-input type="text" formGroupName="path"></ion-input>
    </ion-item>

    <h6>Query Strings</h6>
    <ion-item>
      <div formArrayName="queries">
        <em *ngIf="queries.controls.length === 0; else elseBlock">None</em>
        <div #elseBlock *ngFor="let query of queries.controls; let i=index" [formGroupName]="i" >
          <ion-item class="query-header-item">
            <ion-label floating>Header</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item class="query-value-item">
            <ion-label floating>Value</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <button class="remove-query-button" (click)="removeQuery(i)" type="button" ion-button color="danger">
            <ion-icon name="trash"></ion-icon>
          </button>

        </div>
      </div>
    </ion-item>
    <ion-item>
      <button (click)="addQuery()" type="button" ion-button>+</button>
    </ion-item>

  </ion-list>

  <h6>Headers</h6>
  <ion-item>
    <div formArrayName="headers">
      <em *ngIf="headers.controls.length === 0; else elseBlock">None</em>
      <div #elseBlock *ngFor="let header of headers.controls; let i=index" [formGroupName]="i" >
        <ion-item class="header-header-item">
          <ion-label floating>Header</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item class="header-value-item">
          <ion-label floating>Value</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <button class="remove-header-button" (click)="removeHeader(i)" type="button" ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
        </button>

      </div>
    </div>
  </ion-item>

  <ion-item>
    <button (click)="addHeader()" type="button" ion-button>+</button>
  </ion-item>

  <p>{{form.pristine}}</p>
  <p>{{form.untouched}}</p>
  <p>{{form.value}}</p>
  <p>{{form.status}}</p>

  <p>{{form.get('hostname').pristine}}</p>
  <p>{{form.get('hostname').untouched}}</p>
  <p>{{form.get('hostname').value}}</p>
  <p>{{form.get('hostname').status}}</p>

  <p>{{form.get('path').pristine}}</p>
  <p>{{form.get('path').untouched}}</p>
  <p>{{form.get('path').value}}</p>
  <p>{{form.get('path').status}}</p>

  <ion-item>
    <button id="submit-button" type="submit" [disabled]="form.invalid" ion-button color="primary">Submit</button>
    <button id="clear-button" type="reset" [disabled]="form.pristine" ion-button color="danger" (click)="resetQueries()">Clear</button>
  </ion-item>
</main>
