restui-form {
  button#submit-button {
    float: left;
  }

  button#clear-button {
    float: right;
  }

  ion-item.header-item {
    display: inline;
    float: left;
    width: 40%;
  }

  ion-item.value-item {
    display: inline;
    float: left;
    width: 40%;
  }

  button.remove-button {
    float: left;
  }
}
